body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(https://wallpaperaccess.com/full/4526044.png);
    background-size: cover;
    background-position: center;
}

.header{
    background-color:transparent;
    padding: 10px 90px 15px 90px;
    border-radius: 7px;
    width: 360px;
    margin: center;
    position: absolute;
    top: 3%;
    left: 30%;
    font-family:'Trebuchet MS';
    text-align: center;
    color: white;
    border-color: white;
    border-style: groove;
}
table{
    width: 80%;
    vertical-align: middle;
    background-color: rgba(255,255,255,0.2);
    border-radius: 8px;
    margin: center;
    position: absolute;
    top: 23%;
    left: 10%;
    right: 10%;
    border-collapse: collapse;
    border: 2px white;
    color: white;
}
